# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
csv_path = "output_data2/weatherdata1.csv"
weather_data = pd.read_csv(csv_path)

weather_data.head()

,CityID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max temp,Wind Speed
0,0,Tiksi,0,RU,1579982091,70,71.69,128.87,-26.79,6.35
1,1,Los Llanos de Aridane,0,ES,1579982091,51,28.66,-17.92,62.01,4.34
2,2,Union,100,US,1579982091,95,40.63,-74.27,54.00,1.99
3,3,Atuona,61,PF,1579982092,77,-9.80,-139.03,80.87,15.77
4,4,Kaa-Khem,91,RU,1579982092,86,51.68,94.73,-3.77,1.21

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
gmaps.configure(api_key=g_key)
locations=weather_data[["Lat","Lng"]].astype(float)
heat=weather_data["Humidity"].astype(float)
maxhumid=weather_data["Humidity"].max()

myheatmap = gmaps.figure()
HeatLayer=gmaps.heatmap_layer(locations,weights=heat,max_intensity=maxhumid,point_radius=1,dissipating=False)
myheatmap.add_layer(HeatLayer)
myheatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
NewData=weather_data.dropna(how="all")
NewData=NewData.loc[(NewData["Cloudiness"] == 0) & (NewData["Wind Speed"] < 10) & ((NewData["Max temp"] > 70) & (NewData["Max temp"] <= 80))]
len(NewData)

15

In [ ]:
hotel_df=NewData

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
radius=5000
type="Hotel"
Coordinates=""

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map